<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>File directory</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        .underline-blue {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div id="app">
    <h1>File directory</h1>
    <form @submit.prevent="executeCommand" id="myForm">
        <label for="url">Target IP Address:</label><br>
        <input id="url" name="url" style="width:500px" type="text" v-model="url"><br>
        <label for="key">Key Value:</label><br>
        <input id="key" name="key" style="width:200px" type="text" v-model="key"><br>
        <input type="submit" value="Execute">
    </form>

    <form @submit.prevent="navigatePath">
        <label for="path">Path:</label><br>
        <input id="path" name="path" style="width:200px" type="text" v-model="path"><br>
        <input type="submit" value="提交">
    </form>

    <form @submit.prevent="submitUpload" enctype="multipart/form-data" method="post">
        <input id="file" multiple="multiple" name="file" type="file">
        <input :value="url" name="url" type="hidden">
        <input :value="path" name="path" type="hidden">
        <input type="submit" value="Upload">
    </form>

    <div>
        <button @click="navigateUp">根目录</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>文件名</th>
            <th>类型</th>
            <th>时间</th>
            <th>大小</th>
        </tr>
        </thead>
        <tbody>
        <tr :key="index" v-for="(line, index) in lines">
            <td align="center">{{ index + 1 }}</td>
            <td align="center"><span @click="handleClick(line)" class="underline-blue">{{ line.name }}</span></td>
            <td align="center">{{ line.type }}</td>
            <td align="center">{{ line.time }}</td>
            <td align="center">{{ line.size }}</td>
        </tr>
        </tbody>
    </table>
    <div style="color:red;" v-if="errorMessage">{{ errorMessage }}</div>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            url: '',
            key: '',
            path: '',
            current:'',
            lines: [],
            errorMessage:'',
            checkFile:''
        },
        methods: {
            executeCommand() {
                this.errorMessage = '';
                fetch("/", {
                    method: "POST",
                    body: new URLSearchParams({url: this.url, key: this.key}),
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.text().then(text => {
                                this.errorMessage = text; // 显示具体的错误信息
                                this.lines = []; // 清除旧的文件信息
                                throw new Error('Network response was not ok');
                            });
                        }
                        return response.text();
                    })
                    .then(data => {
                        const parts = data.split('---SPLIT---');
                        this.path = parts[0];
                        this.getPath(this.path);
                        this.lines = this.parseLines(parts[1]);
                    })
                    .catch(error => {
                        // 这里处理网络错误或者由throw new Error抛出的错误
                        this.lines = []; // 清除旧的文件信息
                        console.error('There has been a problem with your fetch operation:', error);

                    });
            },
            handleClick(item) {
                if (item.type === '文件') {
                    this.handleFile(item.name);
                } else {
                    fetch("/", {
                        method: "POST",
                        body: new URLSearchParams({clickedWord: item.name, url: this.url, key: this.key, path: this.path,current:this.current}),
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    })
                        .then(response => response.text())
                        .then(data => {
                            const parts = data.split('---SPLIT---');
                            this.path = parts[0];
                            this.getPath(this.path);
                            this.lines = this.parseLines(parts[1]);
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                }
            },
            handleInput(name) {
                this.errorMessage = '';
                fetch("/", {
                    method: "POST",
                    body: new URLSearchParams({clickedWord: name, url: this.url, key: this.key,path: this.path,current:this.current}),
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.text().then(text => {
                                this.errorMessage = text; // 显示具体的错误信息
                                this.lines = []; // 清除旧的文件信息
                                throw new Error('Network response was not ok');
                            });
                        }
                        return response.text();
                    })
                    .then(data => {
                        const parts = data.split('---SPLIT---');
                        this.path = parts[0];
                        this.getPath(this.path);
                        this.lines = this.parseLines(parts[1]);
                    })
                    .catch(error => {
                        this.lines = []; // 清除旧的文件信息
                        console.error("Error:", error);
                    });
            },

            handleRootPath(name,root) {
                this.errorMessage = '';
                fetch("/", {
                    method: "POST",
                    body: new URLSearchParams({clickedWord: name, url: this.url, key: this.key,path: this.path,rootPath:root}),
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.text().then(text => {
                                this.errorMessage = text; // 显示具体的错误信息
                                this.lines = []; // 清除旧的文件信息
                                throw new Error('Network response was not ok');
                            });
                        }
                        return response.text();
                    })
                    .then(data => {
                        const parts = data.split('---SPLIT---');
                        this.path = parts[0];
                        this.getPath(this.path);
                        this.lines = this.parseLines(parts[1]);
                    })
                    .catch(error => {
                        this.lines = []; // 清除旧的文件信息
                        console.error("Error:", error);
                    });
            },

            handleFile(name){
                this.checkFile='1'
                fetch("/", {
                    method: "POST",
                    body: new URLSearchParams({clickedWord: name, url: this.url, key: this.key, path: this.path,checkFile:this.checkFile}),
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                    .then(response => response.text())
                    .then(data => {
                        const parts = data.split('---SPLIT---');

                        const escapeHtml = (unsafe) => {
                            return unsafe
                                .replace(/&/g, "&amp;")
                                .replace(/</g, "&lt;")
                                .replace(/>/g, "&gt;")
                                .replace(/"/g, "&quot;")
                                .replace(/'/g, "&#039;");
                        };


                        const newWindow = window.open("", "_blank");
                        newWindow.document.write("<pre>" + escapeHtml(parts[1]) + "</pre>");
                        newWindow.document.title = name;
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            },

            navigateUp() {
                if (this.path.startsWith('/')){
                    this.path="/";
                    this.handleRootPath(this.path,"abc");
                }
                const drivePattern = /^[A-Za-z]:\\/;
                if (drivePattern.test(this.path)){
                    this.path=this.path.slice(0,3);
                    this.handleRootPath(this.path,"abc");
                }
                this.handleRootPath(this.path,"abc");
            },


            getPath(path) {
                this.current = path;
            },
            navigateDown(current) {
                this.handleClick(current);
            },
            navigatePath(){
                this.handleInput("fuck")
            },
            parseLines(data) {
                const lines = data.split('\n').filter(line => line.trim() !== '' && !['./', '../'].includes(line.trim().split('\t')[0]));
                return lines.map(line => {
                    const parts = line.split('\t');
                    return {
                        name: parts[0],
                        type: parts[0].endsWith('/') ? '目录' : '文件',
                        time: parts[1] || '0',
                        size: parts[2] || '0'
                    };
                });
            },

            submitUpload() {
                const input = document.getElementById('file');
                if (input.files.length === 0) {
                    alert('请选择要上传的文件');
                    return;
                }

                // Append files to FormData
                let formData = new FormData();
                for (const file of input.files) {
                    formData.append('file', file);
                }

                // Append other data to FormData
                formData.append('url', this.url);
                formData.append('path', this.path);

                // Send FormData via fetch
                fetch("/upload", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.text())
                    .then(data => {
                        alert(data)
                        this.handleInput("fuck")
                        console.log("Upload response:", data);
                        // Handle response if needed
                    })
                    .catch(error => {
                        console.error("Error uploading files:", error);
                        // Handle error if needed
                    });
            }
        },
    });
</script>
</body>
</html>
