
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
}

#app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    color: #ecf0f1;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #2980b9;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
    font-weight: bold;
}

form input[type="text"], form input[type="file"], form input[type="submit"], form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form input[type="submit"], form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover, form button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.context-menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.context-menu-item:hover {
    background-color: #f4f4f4;
}

.underline-blue {
    text-decoration: underline;
    color: #3498db;
    cursor: pointer;
}

.terminal {
    background-color: #2c3e50;
    color: #ecf0f1;
    width: 100%;
    height: 400px;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.output {
    flex: 1;
    white-space: pre-wrap;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
}

.input {
    background: none;
    border: none;
    color: #ecf0f1;
    outline: none;
    flex: 1;
}

.centered-button {
    text-align: center;
}

#link{
    width: 100px;
}
